* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: #1a5276;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: #e67e22;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: #e67e22;
  transition: 0.4s;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h2 {
  text-align: center;
  padding: 2rem;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name .fname {
  margin: 2rem;
  width: 15rem;
}

.name .lname {
  margin: 2rem;
  width: 15rem;
}

.content .tel {
  width: 15rem;
}

.content .adress {
  margin-bottom: 2rem;
}

.content .submit {
  padding: 0.25rem;
  background-color: #e67e22;
  color: white;
  width: 5rem;
  margin-left: 40rem;
  cursor: pointer;
}
